/Java/Leccion1/HolaMundoYamil/nbproject/private/
/Java/Leccion1/Ejercicio5/nbproject/private/
/Java/Leccion1/Ejercicio5/build/
/Java/Leccion1/Ejecicio6/nbproject/private/
/Java/Leccion1/Ejecicio6/build/
/Java/Leccion1/Ejercicio7/nbproject/private/
/Java/Leccion1/Ejercicio7/build/
/Java/Leccion1/CondicionalEjercicio1/nbproject/private/
/Java/Leccion1/CondicionalEjercicio1/build/
/Java/Leccion1/CondicionalEjercicio2/nbproject/private/
/Java/Leccion1/CondicionalEjercicio2/build/
/Java/Leccion1/CondicionalEjercicio3/nbproject/private/
/Java/Leccion1/CondicionalEjercicio3/build/
/Java/Leccion1/CondicionalEjercicioIf/nbproject/private/
/Java/Leccion1/CondicionalEjercicioIf/build/
